Mule-Express/src/main/app/motivos.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<context:property-placeholder location="${mule.env}.properties"/>
	<http:request-config name="HTTP_AJUSTE_MOTIVO" host="${http.ajustes.host}" port="${http.ajustes.port}" basePath="${http.motivo.base.path}" doc:name="HTTP Request Configuration"/>
	<flow name="get-motivos">
		<http:request config-ref="HTTP_AJUSTE_MOTIVO" path="${http.motivo.operacao.tipo.path}" method="GET" doc:name="HTTP">
			<http:request-builder>
				<http:query-params expression="#[message.inboundProperties.'http.query.params']"/>
				<http:headers expression="#[message.inboundProperties]"/>
			</http:request-builder>
			<http:success-status-code-validator values="200,400,401,403,404,500"/>
		</http:request>
		<set-property propertyName="#['http.status']" value="#[message.inboundProperties.'http.status']" doc:name="http.status"/>
	</flow>
</mule>
